.border{
  border: solid gray 1px;
  border-radius: 5px;
}

.box-shadow{
  box-shadow: 0 0.5em 1em -0.125em rgba(43, 37, 35, 0.1), 0 0px 0 1px rgba(43, 37, 35, 0.0);
}

.text-white{
  color: white;
}

.full-width{
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
